doctype html
html(lang="en")
    head
        title= pageTitle
        style
          
            
    body
        h1 PARTY BAND
        h2 productos
          #container
            table(border=1 class='tabla')
              tr
                td <img class="bebida" src="http://esq.h-cdn.co/assets/15/06/nrm_1423255886-franziskaner-hefe-weisse-lg.jpg"/>
                td Nombre: Frainz <br> Valor: $4500
                td <a href="">Comprar</a>
              tr
                td <img class="bebida" src="http://esq.h-cdn.co/assets/cm/15/05/54cb247128e62_-_vodka-soda-0609-lg.jpg"/>
                td Nombre: Vodka <br> Valor: $6000
                td <a href="">Comprar</a>
              tr
                td <img class="bebida" src="http://esq.h-cdn.co/assets/cm/15/05/54cb24719020a_-_margarita-lime-0609-lg.jpg"/>
                td Nombre: Margarita <br> Valor: $3000
                td <a href="">Comprar</a>
              tr
                td <img class="bebida" src="http://esq.h-cdn.co/assets/cm/15/05/54cb247202dc9_-_jameson-on-the-rocks-0609-lg.jpg"/>
                td Nombre: Jameson <br> Valor: $5000
                td <a href="">Comprar</a>
              tr
                td <img class="bebida" src="http://esq.h-cdn.co/assets/cm/15/05/54cb247263ce0_-_manhattan-drink-0609-lg.jpg"/>
                td Nombre: Manhattan <br> Valor: $7000
                td <a href="">Comprar</a>
              tr
                td <img class="bebida" src="http://esq.h-cdn.co/assets/cm/15/05/54cb2472b8390_-_gin-and-tonic-0609-lg-28345665.jpg"/>
                td Nombre: Gin y Tonica <br> Valor: $3000
                td <a href="">Comprar</a>
              tr
                td <img class="bebida" src="http://esq.h-cdn.co/assets/cm/15/05/54cb24731a793_-_jb-whiskey-0609-lg-89055670.jpg"/>
                td Nombre: JB <br> Valor: $3500
                td <a href="">Comprar</a>
              tr
                td <img class="bebida" src="http://esq.h-cdn.co/assets/cm/15/05/54cb247372a4e_-_jack-daniels-0609-lgjpg.jpg"/>
                td Nombre: Jack Daniels en las rocas <br> Valor: $10000
                td <a href="">Comprar</a>
            
        



            
